@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: Inter, "Noto Sans", sans-serif;
  font-size: 1rem;
  color: white;
}


.wrapper{
  background-image: url("/nav-bg.jpg");
  display: grid;
  place-items: center;

  .nav{
    min-width: 100vw;
    background-color: rgba(255,255,255,0.36);
    backdrop-filter: blur(10px) saturate(125%);
    border-bottom: 1px solid #f2f2f2;
  }

    .container{
      nav{
        ul{
          :last-child{
            display: inline;
          }
          :nth-child(1), :nth-child(2){
            display: inline-flex;
          }
          li{
            white-space: nowrap;
            display: none;
          }
        }
      }
    }
  }








// Media Responsiveness
// mobile
@media (min-width: 270px) {

}

// small tablet 
@media (min-width: 481px) {
  .wrapper .container  > * {
    max-width: 970px;
  }

}

// tablet 
@media (min-width: 768px){
  .wrapper{
    .container{
      nav{
        ul{
          :last-child{
            margin-left: auto;
          }
          :nth-child(5){
            display: none;
          }
          li{
            display: inline-flex;
          }
        }
        
      }
    }
  }
  .wrapper .container  > * {
    max-width: 970px;
  }

}

// desktop 
@media (min-width: 1025px){
  .wrapper .container  > * {
    max-width: 1170px;
  }
  .wrapper{
    .container{
      nav{
        ul{
          :last-child{
            margin-left: auto;
          }
          :nth-child(5){
            display: inline-flex;
          }
        }
      }
    }
  }
}

// large desktop 
@media (min-width: 1201px) {

}