@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: Inter, "Noto Sans", sans-serif;
  font-size: 1rem;
  color: white;
}


header {
  nav{
    background-color: rgba(255,255,255,0.36);
    backdrop-filter: blur(10px) saturate(125%);
    border-bottom: 1px solid #f2f2f2;
    :last-child{
      margin-left: 0;
    }
    :nth-child(5){
      display: none;
    }
  }
}

// Media Responsiveness
// mobile
@media (max-width: 480px) {

}

// small tablet 
@media (min-width: 481px) {

}

// tablet 
@media (min-width: 769px){

}

// desktop 
@media (min-width: 1025px){
  header{
    nav{
      :last-child{
        margin-left: auto;
      }
      :nth-child(5){
        display: inline-flex;
      }
    }
  }
}

// large desktop 
@media (min-width: 1201px) {

}